h3 {
  font-family: 'Wellfleet';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;


  color: #FFFFFF;
  letter-spacing: 2px;
  margin: 20px 0 50px;
}

h2 {
  position: absolute;
  left: 41.67%;
  right: 44.39%;
  top: 100%;
  bottom: 30%;

  font-family: 'Wellfleet';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}

.I_killed_Paul{

  
}
