
.container {
    margin-top: 100px;
}


h1 {

    position: absolute;
    left: 43%;
    right: 15%;
    top: 5%;
    bottom: 80%;

    font-family: 'Wellfleet';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #FFFBFB;


}

